*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.navigation{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    display: flex;
}
.steps{
    width: max-content;
    color:white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}
.steps p{
    font-size: 0.8rem;
}
.steps:nth-child(1){
    background: rgb(24, 255, 36);
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}
.steps:nth-child(1):hover{
    background: rgb(0, 0, 0);
}
.steps:nth-child(2){
    background: rgb(100, 100, 100);
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.steps:nth-child(2):hover{
    background: rgb(0, 0, 0);
}
.steps:nth-child(3){
    background: rgb(100, 100, 100);
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.steps:nth-child(3):hover{
    background: rgb(0, 0, 0);
}
.steps-number{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info{
    position: fixed;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}
.info p {
    text-align: right;
    font-size: 0.9rem;
}
.info span{
    font-size: 1.3rem;
}

/* OPTIONS */
.parts {
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    z-index: 3;
    padding: 1.5em 0.5em;
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(0, 0, 0);
    border-radius: 5px;
}
.parts span{
    font-weight: 200;
    color: white;
    font-size: 0.8rem;
}
.parts button{
    border: none;
    background: rgba(255, 255, 255, 0.055);
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s;
    color: white;
    width: 40px;
    height: 40px;
}
.parts button img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.parts button:hover{
    background-color: rgb(39, 39, 39);
}
.parts i{
    color: white;
}


.colors{
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5em;
    z-index: 10;
    padding: 1.5em 0.5em;
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    /* background: rgb(0, 0, 0); */
    border-radius: 5px;
}
.colors div {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    transition: all 0.2s;
    border: 2px solid transparent;
}
.colors div:hover{
    border-color: white;
}
#white{
    background: white;
}
#black{
    background: black;
}
#red {
    background: #ff0008;
}
#green{
    background: #04ff00;
}
#blue{
    background: #0000ff;
}
#yellow{
    background: #ffaa00;
}
#purple{
    background: #f700ff;
}


/*# sourceMappingURL=main.css.map*/